day3/2 (1).json
{
  "name": "2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HEY ,hI",
        "formDescription": "Kindly fill your Data ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "What did you work on yesterday?"
            },
            {
              "fieldLabel": "What will you do today?"
            },
            {
              "fieldLabel": "Any issue",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Urgent"
                  },
                  {
                    "option": "Blocked"
                  },
                  {
                    "option": "Completed"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "19c0a1e6-9c32-40c0-b6cd-c4624b89d33d",
      "name": "On form submission",
      "webhookId": "7b73e77d-82ad-45a8-ba95-1329b48a1fe9"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/145MDlHku3FIxhuSz8hNn7ZrVw-P-crV14WN8SexsGnI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/145MDlHku3FIxhuSz8hNn7ZrVw-P-crV14WN8SexsGnI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "What did you work on yesterday?": "={{ $json['What did you work on yesterday?'] }}",
            "What will you do today?": "={{ $json['What will you do today?'] }}",
            "Any issue": "={{ $json['Any issue'] }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "What did you work on yesterday?",
              "displayName": "What did you work on yesterday?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What will you do today?",
              "displayName": "What will you do today?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Any issue",
              "displayName": "Any issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "8ddca3db-c9fd-4982-aac9-464ad25a414e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0lT9mQW83ZU71ltb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're ai agent yore role is to summarise the task which the answer was given by user and Here is the datas \nName:{{ $json.Name }}\nYESTERDAY TASK : {{ $json['What did you work on yesterday?'] }}\nToday what they gonna learn : {{ $json['What will you do today?'] }}\nImportant thing if they face any issue like Urgency then indicate it on output \n\noutput \nsummarise their task{{ $json['What did you work on yesterday?'] }}\nshow the issue {{ $json['Any issue'] }}For Example : \"Issue = Urgency\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "900a792d-3e85-4317-afc2-dd9f242db8db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        220
      ],
      "id": "34b10f2b-c3d5-4fba-9141-7f04a36d306a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XC6XiAxMYWlPVTpR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"state\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"Issue\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"Yesterday's task Summary\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        800,
        0
      ],
      "id": "068c89d8-b351-4f97-9063-7aa24481551a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        900,
        220
      ],
      "id": "601b3c72-e485-4213-9b52-3cf19d6121e1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "XC6XiAxMYWlPVTpR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9bc4627-a4fd-4882-b6a4-bcf2799e28ff",
              "leftValue": "={{ $json.output.Issue }}",
              "rightValue": "Urgency",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1160,
        0
      ],
      "id": "25db766d-32bc-4654-83f1-6e6ae4a211ff",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "akaakashsvg63@gmail.com",
        "subject": "Urgent Regarding Yesterdays plan",
        "emailType": "text",
        "message": "Dear [Team Lead / Scrum Master],  This is to inform you that a critical issue has been identified during today's stand-up update.  🧑‍💼 Employee: Aakash   📌 Task: API Integration for Payment Gateway   ⚠️ Status: Blocked   ❗ Priority: High   📝 Issue: Facing repeated timeouts while connecting to the production API.  Immediate assistance is required to unblock this task as it may delay the current sprint goals.  Kindly review and take necessary action at the earliest.  Best regards,   Project Tracker Bot (Automated)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1380,
        -100
      ],
      "id": "8701f33c-443d-4dc1-9f04-4eb32d778b45",
      "name": "Urgency Mail",
      "webhookId": "afe92d10-729b-41bc-b4b5-a65f0226efb1",
      "credentials": {
        "gmailOAuth2": {
          "id": "6EipYDoa9oh6SUqc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "akaakashsvg63@gmail.com",
        "subject": "COMPLETED TASK",
        "emailType": "text",
        "message": "Dear Hr,  This is to inform you that the task titled **\"[Task Name]\"** has been successfully completed.  🧑‍💼 Completed By: Aakash   📅 Completion Date: 11th June 2025   📌 Task: [e.g., Finalized daily stand-up automation workflow]   ✅ Status: Completed   🗒️ Notes (if any): [Optional remarks]  Please let me know if there are any further steps or reviews needed.  Best regards,   Aakash",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1380,
        100
      ],
      "id": "2c9bea9b-8329-4072-a2fa-86dd31895969",
      "name": "Gmail",
      "webhookId": "196a0a6f-5225-4182-83fa-4a1caa52e482",
      "credentials": {
        "gmailOAuth2": {
          "id": "6EipYDoa9oh6SUqc",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Urgency Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a5a7cc0-1ecd-4213-bc26-181990aed529",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2e847aea1afbad20bc986fdcca4d73233c1a19e7b9e6c4bff5fd7fc4c14840c"
  },
  "id": "XeJ8HpkKRLgyUuPO",
  "tags": []
}