day3/3.json
{
  "name": "Smart Daily report",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Report",
        "formDescription": "Kindly Fill Your Detail in the Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email id",
              "requiredField": true
            },
            {
              "fieldLabel": "Status",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Completed"
                  },
                  {
                    "option": "Incomplete"
                  },
                  {
                    "option": "Blocked"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -520,
        0
      ],
      "id": "93c93339-af66-474b-a27a-bea967af5be5",
      "name": "On form submission",
      "webhookId": "bb8e01ce-4a7d-4a54-b8ff-5687fbc85b10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant responsible for generating professional email responses.\n\nAnalyze the following task submission data and generate a formal reply email:\n- Name: {{$json[\"Name\"]}}\n- Email ID: {{$json[\"Email id\"]}}\n- Task Status: {{$json[\"Status\"]}}\n- Submission Time: {{$json[\"submittedAt\"]}}\n\nCompose a professional and appreciative email confirming receipt of the update and acknowledging the task status. Keep it polite, concise, and workplace-appropriate. \n\nOutput Format:\nSubject: [Subject line]\nBody: [Formatted email body]\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        120,
        -80
      ],
      "id": "ff7566ce-a4e2-4ded-85a6-07f5bdabaf36",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        200
      ],
      "id": "33d199f7-65e9-4714-8ea7-f164f2b89e0f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3sZ60ITqALIjg7kB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        0
      ],
      "id": "601bb9f3-1656-462d-aec8-d021775ba17e",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "akaakashsvg63@gmail.com",
        "subject": "Report datas",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        -80
      ],
      "id": "aa33d8b6-daf6-4f47-b09b-c21a38d4c680",
      "name": "Gmail",
      "webhookId": "73c040c2-4d97-454d-be30-ddb3dca954b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "YT6io3ksIQHyc3Kk",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38e89ae9-e60c-4520-9c27-b3dab9b3a973",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fbac13493fa75c21e317fd0450e260009adc7e93d95112502ca2ddd0cbc86493"
  },
  "id": "XhEc9fXhYW9iGru7",
  "tags": []
}
